
@media (min-width:1025px) {
    .equipment-content {
        display: block
    }

    .right-menu-preview {
        display: block;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: 100
    }
}

.item-preview {
    width: 100%;
    height: 100%;
    overflow-y: scroll
}

.item-preview__item, .item-preview__sub_item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 300px;
    color: #fff;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}

.item-preview__sub_item{
    box-sizing: border-box;
    width: 33.33%;
    height: 200px;
}
.sub_item_border{
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
}
.item-preview__mask {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 42, 255, 0.12);
    opacity: 1;
    transition: opacity .3s
}

.equip-style{
    font-size: 17px;
}
@media (max-width:1024px) {
    .equipment-content {
        display: none
    }
    .item-preview__sub_item{
        width: 33.33%;
        height: 130px;
    }
    .item-preview__item{
        height: 200px;
    }
    .right-menu-preview {
        position: absolute;
    }
    .item-preview {
        overflow-y: hidden;
    }
    .mobile-none{
        display: none;
    }
}

@media (min-width:600px) and (max-width:1024px){

    .item-preview__sub_item{
        width: 33.33%;
        height: 200px;
    }
    .item-preview__item{
        height: 250px;
    }

}
@media (max-width:565px){

    .equip-style{
        font-size: 12px;
    }

}